@import url(./normalize.css);
@import url(./header.css);
@import url(./picture.css);
@import url(./popup.css);
@import url(./ranking.css);
@import url(./description.css);
@import url(./gallery.css);
@import url(./explanation.css);
@import url(./popup-gallery.css);
@import url(./login.css);
@import url(./register.css);
@import url(./popup-answer.css);


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(127, 255, 212, 0.096);
  font-family: "Ubuntu", sans-serif;
}
