.ranking{
  width: 600px;
  position: absolute;
  right: 100px;
  top: 290px;
  text-align: center;
  border-bottom: solid 4px black;
}
.ranking__container{
  max-height: 900px;
  overflow-y: auto;
  border-left: solid 4px black;
 
}
.ranking__title{
  font-size: 30px;
}
.table{
  width: 100%;
  border-collapse: collapse;
  }
  .table__header{
    background-color: rgb(10, 122, 47);
    color: white;
    height: 50px;
    width: 200px;
    border-right: 3px solid white;
  }
  .table__body{
    font-weight: bold;
    height: 59px;
  }
 .table__header-small{
    width: 20px;
  }
  .table__body_cel{
    font-weight: 500;
  }